/* ============== import area start here =================== */

/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --urbanist-font: "Urbanist", sans-serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* === font weight === */
  /* === colors === */
  --white-clr: #fff;
  --primary-text-clr: #192252;
  --primary-bg-clr: #201353;
  --primary-btn-bg-clr: #6245d5;
  --secondary-bg-clr: #191919;
  --transparent-clr: transparent;

  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
  width: 100%;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
body {
  font-family: var(--urbanist-font);
  overflow-x: hidden;
}
.common_btn {
  padding: 16px 40px;
  color: var(--white-clr);
  background-color: var(--primary-btn-bg-clr);
  font-size: 18px;
  font-weight: var(--bold-weight);
  line-height: normal;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid var(--transparent-clr);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.common_btn:hover {
  color: var(--primary-text-clr);
  background-color: var(--white-clr);
  border-color: var(--primary-text-clr);
}
/* ============= common css end here ================ */
/* =========== navbar css start here ============== */
nav {
  width: 100%;
  padding: 23px 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99999999999;
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand_logo {
  width: 148px;
  height: 34px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.nav_menu_wrapper {
  display: flex;
  align-items: center;
  column-gap: 80px;
}
.nav_link {
  color: #606d93;
  font-size: 18px;
  font-weight: var(--medium-weight);
  line-height: normal;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.nav_link:hover {
  color: var(--primary-text-clr);
}
/* =========== navbar css end here ============== */

/* ============== banner section css start here =============== */
#banner {
  padding: 215px 0 0px;
  width: 100%;
  position: relative;
}
.banner_section_wrapper {
  display: flex;
  gap: 54px;
}
.banner_heading {
  width: 503px;
  color: var(--primary-text-clr);
  font-size: 80px;
  font-weight: var(--bold-weight);
  line-height: 110%;
  margin-bottom: 40px;
  margin-top: 9px;
}
.banner_sub_heading {
  width: 332px;
  color: #848fac;
  font-size: 18px;
  font-weight: var(--medium-weight);
  line-height: 150%;
  margin-bottom: 40px;
}
.banner_btn_wrapper {
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-bottom: 200px;
}
.banner_btn.common_btn {
  flex-shrink: 0;
  padding: 20px 40px;
}
.banner_btn:nth-child(2) {
  padding: 20px 52px;
}
.banner_image_part_wrapper {
  position: relative;
  left: 40px;
  z-index: 22;
}
.banner_img {
  width: 683px;
  height: 311px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.banner_shape {
  filter: blur(247px);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
}
.banner_shape_1 {
  width: 539px;
  height: 539px;
  background-color: #6245d5;
  top: -106px;
  right: -129px;
}
.banner_shape_2 {
  width: 548px;
  height: 548px;
  background-color: #fc8b5f;
  position: absolute;
  top: 199px;
  right: 169px;
}
.banner_shape_3 {
  width: 349px;
  height: 349px;
  background-color: #6245d5;
  top: 747px;
  left: -119px;
}
.banner_big_img {
  width: 100%;
  height: 882px;
  border-radius: 24px;
  background-color: #d9d9d9;
  margin-bottom: -415px;
}
/* ============== banner section css end here =============== */
/* ============== counter section css start here =============== */
#counter {
  padding: 522px 0 64px;
  background-color: var(--primary-bg-clr);
}
.counter_item_wrapper {
  padding: 48px 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.08);
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
.counter_item {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.counter_name {
  color: var(--white-clr);
  font-size: 48px;
  font-weight: var(--bold-weight);
  line-height: normal;
}
.counter_item_name {
  color: rgba(255, 255, 255, 0.64);
  font-size: 20px;
  font-weight: var(--medium-weight);
  line-height: normal;
}
/* ============== counter section css end here =============== */
/* ============== section css start here =============== */

/* ============== section css end here =============== */
/* ============== section css start here =============== */

/* ============== section css end here =============== */
/* ============== section css start here =============== */

/* ============== section css end here =============== */
/* ============== section css start here =============== */

/* ============== section css end here =============== */
/* ============== section css start here =============== */

/* ============== section css end here =============== */
/* ============== section css start here =============== */

/* ============== section css end here =============== */
/* ============== section css start here =============== */

/* ============== section css end here =============== */
