/* ============== import area start here =================== */

/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --urbanist-font: "Urbanist", sans-serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* === font weight === */
  /* === colors === */
  --white-clr: #fff;
  --primary-text-clr: #192252;
  --primary-bg-clr: #201353;
  --primary-btn-bg-clr: #6245d5;
  --secondary-bg-clr: #191919;
  --transparent-clr: transparent;

  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
  width: 100%;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
body {
  font-family: var(--urbanist-font);
  overflow-x: hidden;
}
.common_btn {
  padding: 16px 40px;
  color: var(--white-clr);
  background-color: var(--primary-btn-bg-clr);
  font-size: 18px;
  font-weight: var(--bold-weight);
  line-height: normal;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid var(--transparent-clr);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.common_btn:hover {
  color: var(--primary-text-clr);
  background-color: var(--white-clr);
  border-color: var(--primary-text-clr);
}
/* ============= common css end here ================ */
/* =========== navbar css start here ============== */
nav {
  width: 100%;
  padding: 23px 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99999999999;
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand_logo {
  width: 148px;
  height: 34px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.nav_menu_wrapper {
  display: flex;
  align-items: center;
  column-gap: 80px;
}
.nav_link {
  color: #606d93;
  font-size: 18px;
  font-weight: var(--medium-weight);
  line-height: normal;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.nav_link:hover {
  color: var(--primary-text-clr);
}
/* =========== navbar css end here ============== */

/* ============== banner section css start here =============== */
#banner {
  padding: 215px 0 0px;
  width: 100%;
  position: relative;
}
.banner_section_wrapper {
  display: flex;
  gap: 54px;
}
.banner_heading {
  width: 503px;
  color: var(--primary-text-clr);
  font-size: 80px;
  font-weight: var(--bold-weight);
  line-height: 110%;
  margin-bottom: 40px;
  margin-top: 9px;
}
.banner_sub_heading {
  width: 332px;
  color: #848fac;
  font-size: 18px;
  font-weight: var(--medium-weight);
  line-height: 150%;
  margin-bottom: 40px;
}
.banner_btn_wrapper {
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-bottom: 200px;
}
.banner_btn.common_btn {
  flex-shrink: 0;
  padding: 20px 40px;
}
.banner_btn:nth-child(2) {
  padding: 20px 52px;
}
.banner_image_part_wrapper {
  position: relative;
  left: 40px;
  z-index: 22;
}
.banner_img {
  width: 683px;
  height: 311px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.banner_shape {
  filter: blur(247px);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
}
.banner_shape_1 {
  width: 539px;
  height: 539px;
  background-color: #6245d5;
  top: -106px;
  right: -129px;
}
.banner_shape_2 {
  width: 548px;
  height: 548px;
  background-color: #fc8b5f;
  position: absolute;
  top: 199px;
  right: 169px;
}
.banner_shape_3 {
  width: 349px;
  height: 349px;
  background-color: #6245d5;
  top: 747px;
  left: -119px;
}
.banner_big_img {
  width: 100%;
  height: 882px;
  border-radius: 24px;
  background-color: #d9d9d9;
  margin-bottom: -415px;
}
/* ============== banner section css end here =============== */
/* ============== counter section css start here =============== */
#counter {
  padding: 522px 0 64px;
  background-color: var(--primary-bg-clr);
}
.counter_item_wrapper {
  padding: 48px 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.08);
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
.counter_item {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.counter_name {
  color: var(--white-clr);
  font-size: 48px;
  font-weight: var(--bold-weight);
  line-height: normal;
}
.counter_item_name {
  color: rgba(255, 255, 255, 0.64);
  font-size: 20px;
  font-weight: var(--medium-weight);
  line-height: normal;
}
/* ============== counter section css end here =============== */
/* ============== dashboard section css start here =============== */
#dashboard {
  padding: 100px 0 0 0;
  background-color: var(--primary-bg-clr);
}
.dashboard_heading_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 171px;
  margin-bottom: 48px;
}
.dashboard_heading {
  flex-shrink: 0;
  width: 514px;
  color: var(--white-clr);
  font-size: 52px;
  font-weight: var(--bold-weight);
  line-height: normal;
}
.dashboard_details {
  width: 555px;
  color: rgba(255, 255, 255, 0.64);
  font-size: 18px;
  font-weight: var(--medium-weight);
  line-height: normal;
}
.dashboard_item_wrapper {
  display: flex;
  justify-content: space-between;
}
.dashboard_img_wrapper {
  width: 731px;
  position: relative;
  left: 40px;
}
.dashboard_inner_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.dashboard_item {
  padding: 24px;
  width: 368px;
  border-radius: 16px;
  background: var(--white-clr);
}
.dashboard_item_heading {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding-bottom: 16px;
}
.dashboard_item_icon {
  padding: 8px;
  width: 48px;
  height: 48px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.dashboard_item_heading h4 {
  color: var(--primary-text-clr);
  font-size: 18px;
  font-weight: var(--semi-bold-weight);
  line-height: 150%;
}
.dashboard_item_details {
  width: 320px;
  color: #848fac;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 24px;
}
.dashboard_item_progressbar {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  background-color: #eff3fa;
  position: relative;
}
.dashboard_item_progressbar::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 173px;
  left: 0;
  top: 0;
  background-color: #6245d5;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.dashboard_item:nth-child(2),
.dashboard_item:nth-child(3) {
  border: 1.5px solid #2c1a74;
  background: #201353;
}
.dashboard_item:nth-child(2) .dashboard_item_icon,
.dashboard_item:nth-child(3) .dashboard_item_icon {
  padding: 0;
}
.dashboard_item:nth-child(2) .dashboard_item_heading h4,
.dashboard_item:nth-child(3) .dashboard_item_heading h4 {
  color: var(--white-clr);
  font-size: 18px;
  font-style: normal;
  font-weight: var(--semi-bold-weight);
  line-height: 150%;
}
.dashboard_item:nth-child(2) .dashboard_item_progressbar,
.dashboard_item:nth-child(3) .dashboard_item_progressbar {
  background: rgba(255, 255, 255, 0.15);
}
.dashboard_item:nth-child(2) .dashboard_item_progressbar::after,
.dashboard_item:nth-child(3) .dashboard_item_progressbar::after {
  display: none;
}
/* ========
====== dashboard section css end here =============== */
/* ============== play_receive section css start here =============== */
#play_receive {
  padding: 100px 0;
}
.play_receive_section_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 126px;
}
.play_video_wrapper {
  text-align: center;
  width: 600px;
  height: 600px;
  border-radius: 24px;
  background-color: rgba(196, 196, 196);
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play_btn {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  text-align: center;
  background-color: #8c90a3;
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  color: #192252;
}
.play_receive_heading {
  width: 514px;
  color: var(--primary-text-clr);
  font-size: 52px;
  font-weight: var(--bold-weight);
  line-height: normal;
  margin-bottom: 24px;
}
.play_receive_summery {
  width: 421px;
  color: #848fac;
  font-size: 18px;
  font-weight: var(--medium-weight);
  line-height: 150%;
  margin-bottom: 40px;
}
.play_receive_list_wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.play_receive_list_wrapper li {
  color: var(--primary-text-clr);
  font-size: 20px;
  font-weight: var(--semi-bold-weight);
  line-height: normal;
}
.play_receive_list_wrapper li i {
  font-size: 20px;
  color: #219653;
  line-height: 20px;
  padding-right: 29px;
}
/* ============== play_receive section css end here =============== */
/* ============== branding section css start here =============== */
#branding {
  padding: 40px 0 62px;
}
.branding_section_heading {
  text-align: center;
  color: #848fac;
  font-size: 24px;
  font-weight: var(--medium-weight);
  line-height: 150%;
  margin-bottom: 32px;
}
.branding_item_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.branding_item {
  flex-shrink: 0;
  color: #000;
  font-size: 32px;
  font-weight: var(--bold-weight);
  line-height: 150%;
}
/* ============== branding section css end here =============== */
/* ============== planing section css start here =============== */
#planing {
  padding: 100px 0;
}
.planing_section_heading_wrapper {
  text-align: center;
  margin-bottom: 64px;
}
.planing_section_heading {
  color: var(--primary-text-clr);
  font-size: 52px;
  font-weight: var(--bold-weight);
  line-height: normal;
  margin-bottom: 24px;
}
.planing_sub_heading {
  color: #848fac;
  font-size: 18px;
  font-weight: var(--medium-weight);
  line-height: normal;
}
.planing_section_content_wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
}
.planing_package_item_wrapper {
  display: flex;
  flex-direction: column;
}
.planing_package_item {
  width: 515px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-radius: 16px;
  border: 1.5px solid #eff3fa;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  position: relative;
}
.planing_package_item::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #6245d5;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.planing_package_name_wrapper {
  margin-left: 48px;
}
.package_name {
  color: var(--primary-text-clr);
  font-size: 20px;
  font-weight: var(--bold-weight);
  line-height: normal;
  margin-bottom: 8px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.package_discount {
  padding: 4px 12px;
  color: #219653;
  font-size: 12px;
  font-weight: var(--semi-bold-weight);
  line-height: normal;
  border-radius: 11px;
  background: rgba(33, 150, 83, 0.08);
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  margin-left: 8px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.package_summary {
  width: 236px;
  color: #848fac;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.package_price {
  color: var(--primary-text-clr);
  font-size: 32px;
  font-weight: var(--bold-weight);
  line-height: normal;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.package_price span {
  color: #848fac;
  font-size: 16px;
  font-weight: var(--medium-weight);
  line-height: normal;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.planing_package_item:hover {
  background-color: #6245d5;
}
.planing_package_item:hover .package_name {
  color: var(--white-clr);
}
.planing_package_item:hover .package_discount {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.08);
}
.planing_package_item:hover .package_summary {
  color: rgba(255, 255, 255, 0.64);
}
.planing_package_item:hover .package_price {
  color: var(--white-clr);
}
.planing_package_item:hover .package_price span {
  color: rgba(255, 255, 255, 0.64);
}
.planing_package_item:hover::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid #fff;
  transition: var(--transition);
}
/* ============== planing section css end here =============== */
/* ============== section css start here =============== */

/* ============== section css end here =============== */
/* ============== section css start here =============== */

/* ============== section css end here =============== */
/* ============== section css start here =============== */

/* ============== section css end here =============== */
